################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OptionPricingEngine/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
